@model IEnumerable<OnlineStoreSample.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Company</th>
            <th>Warrenty</th>
            <th>Item Type</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", "Items", new { typeId = item.GetType().ToString().Remove(0, 44), itemId = item.Id }, null)</td>
                <td>@item.Model</td>
                <td>@item.SKU</td>
                <td>@item.Company</td>
                <td>@item.Price</td>
                <td>@item.Warranty</td>
                <td>@item.GetType().ToString().Remove(0, 44)</td>
            </tr>
        }
    </tbody>
</table>