@model string
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>New Item</h2>

<h3>Select Item Type</h3>

<h4>Electronics</h4>

<div>@Html.ActionLink("New Desktop", "New", "Items", new { typeId = "Desktop" }, null)</div>

<div>@Html.ActionLink("New Laptop", "New", "Items", new { typeId = "Laptop" }, null)</div>

<div>@Html.ActionLink("New Camera", "New", "Items", new { typeId = "Camera" }, null)</div>

<div>@Html.ActionLink("New Gaming Console", "New", "Items", new { typeId = "GameConsole" }, null)</div>

<div>@Html.ActionLink("New Major Appliance", "New", "Items", new { typeId = "MajorAppliance" }, null)</div>


<h4>Accessories</h4>

<div>@Html.ActionLink("New Carrying Bag", "New", "Items", new { typeId = "CarryingBag" }, null)</div>

<div>@Html.ActionLink("New Mouse/Keyboard", "New", "Items", new { typeId = "MouseAndKeyBoard" }, null)</div>

<h4>Media</h4>

<div>@Html.ActionLink("New Movie", "New", "Items", new { typeId = "Movie" }, null)</div>

<div>@Html.ActionLink("New Software", "New", "Items", new { typeId = "Software" }, null)</div>

<div>@Html.ActionLink("New Videogame", "New", "Items", new { typeId = "VideoGame" }, null)</div>



