@model IEnumerable<string>
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Item</h2>

<h3>Select Item Type</h3>

<h4>Electronics</h4>

<div>@Html.ActionLink("New Desktop", "New", "Desktops")</div>

<div>@Html.ActionLink("New Laptop", "New", "Laptops")</div>

<div>@Html.ActionLink("New Camera", "New", "Cameras")</div>

<div>@Html.ActionLink("New Gaming Console", "New", "GameConsoles")</div>

<div>@Html.ActionLink("New Major Appliance", "New", "MajorAppliances")</div>


<h4>Accessories</h4>

<div>@Html.ActionLink("New Carrying Bag", "New", "CarryingBags")</div>

<div>@Html.ActionLink("New Mouse/Keyboard", "New", "MouseAndKeyBoards")</div>

<h4>Media</h4>

<div>@Html.ActionLink("New Movie", "New", "Movies")</div>

<div>@Html.ActionLink("New Software", "New", "Softwares")</div>

<div>@Html.ActionLink("New Videogame", "New", "VideoGames")</div>



